body{
	background-color:white;
	text-align:center;
}

#headerContainer img{
	width:90%;
	max-width:700px;
}

#headerContainer{
	padding-top:30px;
	font-family:'Yeseva One';
	width:100%;
	color:rgb(140,30,140);
	font-size:6em;
	text-align:center;
}

#arrow{
	width:80px;
	height:50px;
	margin:auto;
	text-align:center;
	opacity:.5;
}

#arrow:hover{
	opacity:1;
	margin-top:10px;
}

#arrow img{
	width:8%;
	min-width:50px;
	max-width:110px;
}

#birthday{
	text-align:center;
	padding-top:30px;
	font-family:'Yeseva One';
	font-size:7em;
	line-height:.9em;
	color:red;
	display:none;
	animation: colorChange 1s infinite;
	-webkit-animation: colorChange 1s infinite;
	-moz-animation: colorChange 1s infinte;
}

@keyframes colorChange
	{
	0%   {color: red;}
	25%  {color: yellow;}
	50%  {color: blue;}
	100% {color: green;}
	}
@-webkit-keyframes colorChange
	{
	0%   {color: red;}
	25%  {color: yellow;}
	50%  {color: blue;}
	100% {color: green;}
	}

@-moz-keyframes colorChange
	{
	0%   {color: red;}
	25%  {color: yellow;}
	50%  {color: blue;}
	100% {color: green;}
	}

#arrow:hover ~ #birthday{
	display:block;
}

#birthday:hover{
	display:block;
}


@media only screen and (max-width: 730px) {
	
#headerContainer{
	font-size:4.6em;
}	
#birthday{
	font-size:5em;
}
}


@media only screen and (max-width: 530px) {
	
	#headerContainer{
		font-size:3em;
	}	
	
	#headerContainer{
		padding-top:15px;
	}
	
	#birthday{
		font-size:4em;
	}
}